body{
    background-color: gainsboro;
}

h1 {
    font-size: 60px;
    margin-bottom: -10px;
}

#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#board{
    
    height: 672px;
    width: 672px;
    border: 60px solid red;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

#description{
    font-size: 24px;
    margin-bottom: 10px;
}

.btn{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    font-size: 24px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    width: 670px;
    height: 150px;
    border: 1px solid black;
    margin-top: 50px;
}