#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#board{
    height: 760px;
    width: 760px;
    border: 60px solid red;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 50px;
}

p{
    font-size: 24px;
}